/* .button-common {
	background-color: #3DAFA8;
	color: white;
	cursor: pointer;
	border-radius: 4px;
	border-color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.main-container {
	display: flex;
	flex-direction: column;
}

.container-common {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 30vh;
}

.dropdown-container,
.section-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.dropdown-container .inner {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 30vh;
}

.section-container .inner {
	width: 30%;
	display: inline-block;
	margin: 10px;
}

.section-header {
	text-align: center;
}
.custom-label {
	margin-top: 100px;
	font-weight: bold;
} */


.button-common {
	background-color: #3DAFA8;
	color: white;
	cursor: pointer;
	border-radius: 4px;
	border-color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition: all 0.3s ease;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Centers children horizontally */
	justify-content: flex-start;
	/* Starts children at the top */
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.container-common {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 30vh;
}

.dropdown-container,
.section-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.dropdown-container .inner,
.section-container .inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.dropdown-container .inner {
	height: 30vh;
}

.section-container .inner {
	width: 30%;
	display: inline-block;
	margin: 10px;
}

.section-header,
.custom-label {
	text-align: center;
	margin-top: 100px;
	/* Only if needed for both */
	font-weight: bold;
	/* Applies bold styling to headers */
}
.table-header {
	text-align: center;
	background-color: #3DAFA8;
	color: white;
}